## Test the operational part of the persistence model with an artificial initial value

In [1]:
%load_ext autoreload
%autoreload 2

from forecast_clarify.main import *
import forecast_clarify.clarify_persistence_package as cpp
from forecast_clarify.config import * 
import os

In [2]:
ds = xr.open_dataset(os.path.join(dirs['param_files'],'temperature_insitu_3m_norkyst800_barentswatch_closest_20060101-20220920_trend.nc'))
# create some artifical initial values:
init_value = xr.DataArray(
    13.2*np.ones(len(ds.location)),
    dims = {'location':len(ds.location)},
    coords = {'location':(('location',),ds.location.values)}
)
init_time = np.datetime64('2022-10-03')
station_name = 'Hågardsneset'

In [3]:
stat_id = cpp.find_station_in_bw(station_name)[0]
print(stat_id)

22095

In [4]:
abs_temp_fc = cpp.make_persistence_forecast(init_value,init_time,station_id=stat_id)

In [5]:
abs_temp_fc

,location,time,depth,loc_name,lon,lat,time_doy,temperature
lags,,,,,,,,
0,22095,2022-10-03,3,Hågardsneset,5.929967,59.9844,276,13.200000
1,22095,2022-10-10,3,Hågardsneset,5.929967,59.9844,283,12.561886
2,22095,2022-10-17,3,Hågardsneset,5.929967,59.9844,290,11.897497
3,22095,2022-10-24,3,Hågardsneset,5.929967,59.9844,297,11.239922
4,22095,2022-10-31,3,Hågardsneset,5.929967,59.9844,304,10.651398
5,22095,2022-11-07,3,Hågardsneset,5.929967,59.9844,311,10.105677