## Test the operational part of the persistence model with an artificial initial value

In [2]:
%load_ext autoreload
%autoreload 2

from forecast_clarify.main import *
import forecast_clarify.clarify_persistence_package as cpp
from forecast_clarify.config import *
import os

In [3]:
ds = xr.open_dataset(os.path.join(dirs['param_files'],'t3m_trend_nk800_2006-2022_ff.nc'))

In [4]:
# create some artifical initial values:
init_value = xr.DataArray(
    17.2*np.ones(len(ds.location)),
    dims = {'location':len(ds.location)},
    coords = {'location':(('location',),ds.location.values)}
)
init_time = np.datetime64('2022-10-03')
station_name = 'Hågardsneset'

In [5]:
stat_id = cpp.find_station_in_bw(station_name)[0]
print(stat_id)

22095

In [6]:
abs_temp_fc = cpp.make_persistence_forecast(init_value,init_time,station_id=stat_id)

In [8]:
abs_temp_fc

,depth,location,loc_name,lon,lat,time,time_doy,temperature
lags,,,,,,,,
0,3,22095,Hågardsneset,5.929967,59.9844,2022-10-03,276,17.200000
1,3,22095,Hågardsneset,5.929967,59.9844,2022-10-10,283,15.792673
2,3,22095,Hågardsneset,5.929967,59.9844,2022-10-17,290,14.413394
3,3,22095,Hågardsneset,5.929967,59.9844,2022-10-24,297,13.444202
4,3,22095,Hågardsneset,5.929967,59.9844,2022-10-31,304,12.610685
5,3,22095,Hågardsneset,5.929967,59.9844,2022-11-07,311,11.845858